:root {
  --dark-blue: #01016f;
  --light-blue: #9fcbee;
  --blue: #14679e;
  --red: #d8031c;
  --light-gray: #bbb;
  --gray: #5a5a5a;
  --white: #FFF;
}

html {
  background-color: var(--gray);
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
}

p {
  margin: 1em;
}

.nav-bar {
  height: 5em;
  width: 100%;
  max-width: 100%;
}

.navigation {
  width: 100%;
  height: 5em;
  background-color: var(--red);
}

.nav-links {
  margin: auto;
  height: 2em;
}

.link {
  border-radius: 1em;
  border: var(--dark-blue) solid 0.2em;
  color: var(--blue);
  font-size: 20;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  margin: 2%;
}

.resume-header {
  font-weight: bold;
  text-align: center;
  color: var(--white);
}

.subheader {
  font-weight: bold;
  text-align: center;
  color: #000;
}

.card-header {
  font-weight: bold;
  text-align: center;
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: var(--light-blue);
}

.content {
  background-color: var(--gray);
}

.display {
  max-width: 95%;
  width: 95%;
  /* height: auto; */
  margin: auto;
  padding: 2em;
  background-color: var(--white);
  border-radius: 1em;
}

.headshot {
  padding: auto;
  margin: auto;
  border-radius: 1em;
  height: 35em;
  width: auto;
}

.picture {
  border-radius: 1em;
  width: 80%;
  padding: auto;
  margin: auto;
  height: auto;
}

hr.rounded {
  border-top: 0.5em solid var(--light-gray);
  border-radius: 0.3em;
  margin: 2em auto
}

.center {
  display: flex; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.center-text {
  text-align: center;;
}

.dark-blue {
  background-color: var(--dark-blue);
}

.light-blue {
  background-color: var(--light-blue);
}

.round {
  border-radius: 2em;
}

.paragraph-1 {
  font-size: 2em;
}

.paragraph-2 {
  font-size: 1.3em;
}